.coins-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    margin:0rem 1.5rem;
}

@media only screen and (max-width:800px){
    .coins-flex{
        justify-content: flex-end;
    
    }
    .coins-flex-text{
       display: none;
    }
    
}

