.select-days{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}
@media only screen and (max-width:800px){
    .select-days{
        margin: 0px;
        color: green;
    }
}