.navbar{
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    background-color:var(--black);
    z-index: 100;
   
}
.logo{
    font-size: 1.2rem;
}
.links{
    color: green;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
}
.link{
    color: var(--grey);
    font-weight: 600;
    font-size: 1rem;
}
.link:hover{
    color: var(--white);
    transition: all 0.3s;
}
.mobile-drawer{
    display: none;
}
.underline-text{
    /* text-decoration: underline; */
    color: var(--blue);
    font-size: 1rem;
}
.button-color{
    background-color: var(--blue);
    border: 1px soli var(--blue);
    border-radius: 3rem;
    box-shadow: 5px 5px 10px rgba(58,128,233,0.5);
}


@media only  screen and (max-width:800px) {
    .navbar{
        padding: 1.5rem;
    }
    
    .logo{
        font-size: 1rem; 
    }
    .links{
        display: none;
    }
    .mobile-drawer{
        display: block;
    }
    .drawer-div{
        width: 40vw;
        background-color: var(--black);
        height: 100vh;
        padding: 1.5rem;
    }
 
}