.list-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin:1.5rem;
    padding: 1rem;
    border-radius: 1rem;
}
.list-row:hover{
    background-color: var(--darkgrey);
    transition: all 0.3s;

}

.list-row td{
    text-align: left;
    width: 18%;
}
.td-image{
    width: 3rem !important;
    margin-right: 2rem

}

.td-center-align{
    text-align: center;

}

.td-right-align{
    text-align: right;

}
.mobile-td-mkt{
    display: none;
}
@media only screen and (max-width:1100px){
    .td-icon{
        display: none;
    }

}
@media only screen and (max-width:1000px){
   .td-total-volume{
    display: none;
   }
  
}
@media only screen and (max-width:800px){
    .desktop-td-mkt{
        display: none;
    }
    .mobile-td-mkt{
        display: block;
    }
   .coin-logo{
    display: none;
   }
   .list-row{
    margin: 0px;
    padding: 0px;
    justify-content: flex-end;
    margin-left: 1.5rem;
    gap: 0.2rem;
   
   }
   .coin-symbol{
    font-size: 1rem;
   }
   .coin-name{
    font-size: 0.8rem;
    text-align: center;
   }
   .price-chip{
    font-size: 0.8rem;
    padding: 0.1rem 0rem;
   }
   .coin-price{
    font-size: 0.8rem;
   }
   .total-volume{
    font-size: 0.8rem;
   }
   .list-row td{
    text-align: right;
    
   }
}
